# Assignment  ( Big Data )

##  Setting-Up Configuration For Spark Environment

In [1]:

# configuring pyspark environment



import os
import sys

os.environ["SPARK_HOME"] = "/usr/spark2.4.3"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
os.environ["PYSPARK_PYTHON"] = "/usr/local/anaconda/bin/python" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/local/anaconda/bin/python"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

##   Importing Required Libraries

In [2]:

import pyspark
                                             
    
# importing spark context and spark conf to create rdd's

from pyspark import SparkContext, SparkConf   
    
# Defining sql context through spark session for creating dataframes
                  
from pyspark.sql import SparkSession, SQLContext   
       
# For executing sql funtions

from pyspark.sql.functions import *
from pyspark.sql.functions import col, lit, when
from pyspark.sql import functions as f
from pyspark.sql.types import *
from pyspark.sql import Row

In [3]:

# Configuring spark session and sql context to create dataframes


spark = SparkSession.builder.getOrCreate()
sqlContext = SQLContext(spark)

In [4]:


#  Strategy:


# There are two types of data files  1)  Average_house price data  2) Price_Percentage_change(yearly) data


# Mutliple csv files of Average_house price data are loaded into one dataframe and Data-pre-processing is performed.

# Mutliple csv files of Price_Percentage_change(yearly) data are loaded into one dataframe and Data-pre-processing is performed.
                                         
#  Exploratory data analysis is performed using the dataframes obtained after data Pre-processing

#  Data Pre-processing On Average House  Price Data

## Importing Data

In [5]:

# Creating a DataFrame directly from multiple csv files containing Average Price Data 



data_average_price_1 = spark.read.option("header", "true").option("delimiter", ",")\
                       .option("inferSchema", "true").csv("hdfs:///user/imat5322_1308287/*_price.csv",)

In [6]:

 # Calling an action to Look into the data loaded

data_average_price_1.show(2)

+------------+--------------------+---------------+-------+------------+----------------+--------------------------------+-----------------------------+----------------------------------+-----------------------------+-----------------------------------+--------------+
|        Name|                 URI|Region GSS code| Period|Sales volume|Reporting period|Average price All property types|Average price Detached houses|Average price Semi-detached houses|Average price Terraced houses|Average price Flats and maisonettes|Pivotable date|
+------------+--------------------+---------------+-------+------------+----------------+--------------------------------+-----------------------------+----------------------------------+-----------------------------+-----------------------------------+--------------+
|Inner London|http://landregist...|      E13000001|2017-01|        2836|         monthly|                          579471|                      1350726|                            897741|                       678193|                             537324|    2017-01-01|
|Inner London|http://landregist...|      E13000001|2017-02|        2787|         monthly|                          582285|                      1347727|                            896440|                       679694|                             540466|    2017-02-01|
+------------+--------------------+---------------+-------+------------+----------------+--------------------------------+-----------------------------+----------------------------------+-----------------------------+-----------------------------------+--------------+
only showing top 2 rows

In [7]:

 # Calling an action to Look into number of records


data_average_price_1.count()

121

In [8]:

# Printing Average price data schema


data_average_price_1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- URI: string (nullable = true)
 |-- Region GSS code: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales volume: string (nullable = true)
 |-- Reporting period: string (nullable = true)
 |-- Average price All property types: string (nullable = true)
 |-- Average price Detached houses: string (nullable = true)
 |-- Average price Semi-detached houses: string (nullable = true)
 |-- Average price Terraced houses: string (nullable = true)
 |-- Average price Flats and maisonettes: string (nullable = true)
 |-- Pivotable date: string (nullable = true)

## Filtering Columns

In [9]:

# Dropping columns which are not required from the data  

data_average_price_1 = data_average_price_1.drop('URI','Region GSS code', 'Reporting period','Pivotable date' )

In [10]:

# Calling an action to Look into the dataset columns

data_average_price_1.columns

['Name',
 'Period',
 'Sales volume',
 'Average price All property types',
 'Average price Detached houses',
 'Average price Semi-detached houses',
 'Average price Terraced houses',
 'Average price Flats and maisonettes']

## Renaming Columns

In [11]:

# Renaming the columns  /  tidy up the columns

data_average_price_1   = data_average_price_1.withColumnRenamed('Name','City')

data_average_price_1   = data_average_price_1.withColumnRenamed('Sales volume','Sales_volume')

data_average_price_1   = data_average_price_1.withColumnRenamed('Average price All property types',\
                                                                'Average_price_All_property_types')

data_average_price_1   = data_average_price_1.withColumnRenamed('Average price Detached houses',\
                                                                'Average_price_Detached_houses')

data_average_price_1   = data_average_price_1.withColumnRenamed('Average price Semi-detached houses',\
                                                                'Average_price_Semi_detached_houses')

data_average_price_1   = data_average_price_1.withColumnRenamed('Average price Terraced houses',\
                                                                'Average_price_Terraced_houses')

data_average_price_1   = data_average_price_1.withColumnRenamed('Average price Flats and maisonettes',\
                                                                'Average_price_Flats_and_maisonettes')

In [12]:

# Recheck to the renamed columns

data_average_price_1.columns

['City',
 'Period',
 'Sales_volume',
 'Average_price_All_property_types',
 'Average_price_Detached_houses',
 'Average_price_Semi_detached_houses',
 'Average_price_Terraced_houses',
 'Average_price_Flats_and_maisonettes']

## Handling Missing Values

In [13]:

# Checking for missing values :
                              
    
i = 0                                                                          # Introducing a counter         

                                                                               # Getting total records in the dataframe    

total = data_average_price_1.count()
print("Total Records = " + str(total))
                                                                               # Printing the amount of columns
print("Total columns = " + str(len(data_average_price_1.columns)))        
print("------------------------------------------")

                                                                           # looping entire df to get  missing value number 
                                                                           # and missing value number of each column
while i < len(data_average_price_1.columns):
                                                                               # loop through all columns    
    print(str(i+1) + "." + str(data_average_price_1[i]))
    print("  Missing Values = ") 
    print("------------------------------------------")    
                                                                               # check for missing values     
        
        
    missing_value = data_average_price_1.select([count(when(data_average_price_1[i].isNull(),True))]).show()   
    
                                                                              # adding counter by 1   
    i = i+1

Total Records = 121
Total columns = 8
------------------------------------------
1.Column<b'City'>
  Missing Values =
------------------------------------------
+---------------------------------------------+
|count(CASE WHEN (City IS NULL) THEN true END)|
+---------------------------------------------+
|                                            1|
+---------------------------------------------+

2.Column<b'Period'>
  Missing Values =
------------------------------------------
+-----------------------------------------------+
|count(CASE WHEN (Period IS NULL) THEN true END)|
+-----------------------------------------------+
|                                              1|
+-----------------------------------------------+

3.Column<b'Sales_volume'>
  Missing Values =
------------------------------------------
+-----------------------------------------------------+
|count(CASE WHEN (Sales_volume IS NULL) THEN true END)|
+-----------------------------------------------------+
|                                                    3|
+-----------------------------------------------------+

4.Column<b'Average_price_All_property_types'>
  Missing Values =
------------------------------------------
+-------------------------------------------------------------------------+
|count(CASE WHEN (Average_price_All_property_types IS NULL) THEN true END)|
+-------------------------------------------------------------------------+
|                                                                        1|
+-------------------------------------------------------------------------+

5.Column<b'Average_price_Detached_houses'>
  Missing Values =
------------------------------------------
+----------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Detached_houses IS NULL) THEN true END)|
+----------------------------------------------------------------------+
|                                                                     1|
+----------------------------------------------------------------------+

6.Column<b'Average_price_Semi_detached_houses'>
  Missing Values =
------------------------------------------
+---------------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Semi_detached_houses IS NULL) THEN true END)|
+---------------------------------------------------------------------------+
|                                                                          1|
+---------------------------------------------------------------------------+

7.Column<b'Average_price_Terraced_houses'>
  Missing Values =
------------------------------------------
+----------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Terraced_houses IS NULL) THEN true END)|
+----------------------------------------------------------------------+
|                                                                     1|
+----------------------------------------------------------------------+

8.Column<b'Average_price_Flats_and_maisonettes'>
  Missing Values =
------------------------------------------
+----------------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Flats_and_maisonettes IS NULL) THEN true END)|
+----------------------------------------------------------------------------+
|                                                                           1|
+----------------------------------------------------------------------------+

In [14]:

# Removing records which have Null values


data_average_price_2 = data_average_price_1.na.drop(how = "any")

In [15]:

# Checking number of records after droping null values


print('Before dropping : '+ str(data_average_price_1.count()))
print(" ")    
print('After  dropping : '+ str(data_average_price_2.count()))

Before dropping : 121

After  dropping : 118

In [16]:

# Checking for missing values after droping the "nan" values



                                                                            # Introducing a counter
    
i = 0               

                                                                            # Getting total records in the dataframe    

total = data_average_price_2.count()
print("Total Records = " + str(total))

                                                                            # Printing the amount of columns

print("Total columns = " + str(len(data_average_price_2.columns)))        
print("------------------------------------------")

                                        # looping entire df and get the missing value number and missing rate of each column

while i < len(data_average_price_2.columns):    
                                                                            #loop through all columns    
    print(str(i+1) + "." + str(data_average_price_2[i]))
    print("  Missing Values = ") 
    print("------------------------------------------")    
                                                                            # check for missing values     

    missing_value = data_average_price_2.select([count(when(data_average_price_2[i].isNull(),True))]).show()   
    
                                                                            # adding counter by 1   

    i = i+1

Total Records = 118
Total columns = 8
------------------------------------------
1.Column<b'City'>
  Missing Values =
------------------------------------------
+---------------------------------------------+
|count(CASE WHEN (City IS NULL) THEN true END)|
+---------------------------------------------+
|                                            0|
+---------------------------------------------+

2.Column<b'Period'>
  Missing Values =
------------------------------------------
+-----------------------------------------------+
|count(CASE WHEN (Period IS NULL) THEN true END)|
+-----------------------------------------------+
|                                              0|
+-----------------------------------------------+

3.Column<b'Sales_volume'>
  Missing Values =
------------------------------------------
+-----------------------------------------------------+
|count(CASE WHEN (Sales_volume IS NULL) THEN true END)|
+-----------------------------------------------------+
|                                                    0|
+-----------------------------------------------------+

4.Column<b'Average_price_All_property_types'>
  Missing Values =
------------------------------------------
+-------------------------------------------------------------------------+
|count(CASE WHEN (Average_price_All_property_types IS NULL) THEN true END)|
+-------------------------------------------------------------------------+
|                                                                        0|
+-------------------------------------------------------------------------+

5.Column<b'Average_price_Detached_houses'>
  Missing Values =
------------------------------------------
+----------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Detached_houses IS NULL) THEN true END)|
+----------------------------------------------------------------------+
|                                                                     0|
+----------------------------------------------------------------------+

6.Column<b'Average_price_Semi_detached_houses'>
  Missing Values =
------------------------------------------
+---------------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Semi_detached_houses IS NULL) THEN true END)|
+---------------------------------------------------------------------------+
|                                                                          0|
+---------------------------------------------------------------------------+

7.Column<b'Average_price_Terraced_houses'>
  Missing Values =
------------------------------------------
+----------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Terraced_houses IS NULL) THEN true END)|
+----------------------------------------------------------------------+
|                                                                     0|
+----------------------------------------------------------------------+

8.Column<b'Average_price_Flats_and_maisonettes'>
  Missing Values =
------------------------------------------
+----------------------------------------------------------------------------+
|count(CASE WHEN (Average_price_Flats_and_maisonettes IS NULL) THEN true END)|
+----------------------------------------------------------------------------+
|                                                                           0|
+----------------------------------------------------------------------------+

## Handling the schema of the dataframe

In [17]:

# looking into the original schema of the data

data_average_price_2.printSchema()

root
 |-- City: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales_volume: string (nullable = true)
 |-- Average_price_All_property_types: string (nullable = true)
 |-- Average_price_Detached_houses: string (nullable = true)
 |-- Average_price_Semi_detached_houses: string (nullable = true)
 |-- Average_price_Terraced_houses: string (nullable = true)
 |-- Average_price_Flats_and_maisonettes: string (nullable = true)

In [18]:

# Casting the schema of the columns  


data_average_price_2 = data_average_price_2.withColumn('City',data_average_price_2['City'].cast(StringType()))

data_average_price_2 = data_average_price_2.withColumn('Period',data_average_price_2['Period'].cast(StringType()))

data_average_price_2 = data_average_price_2.withColumn('Sales_volume',data_average_price_2['Sales_volume']\
                                                       .cast(IntegerType()))

data_average_price_2 = data_average_price_2.withColumn('Average_price_All_property_types',data_average_price_2\
                                                       
                                                       ['Average_price_All_property_types'].cast(IntegerType()))

data_average_price_2 = data_average_price_2.withColumn('Average_price_Detached_houses',data_average_price_2\
                                                       
                                                       ['Average_price_Detached_houses'].cast(IntegerType()))

data_average_price_2 = data_average_price_2.withColumn('Average_price_Semi_detached_houses',data_average_price_2\
                                                       
                                                       ['Average_price_Semi_detached_houses'].cast(IntegerType()))

data_average_price_2 = data_average_price_2.withColumn('Average_price_Terraced_houses',data_average_price_2\
                                                       
                                                       ['Average_price_Terraced_houses'].cast(IntegerType()))

data_average_price_2 = data_average_price_2.withColumn('Average_price_Flats_and_maisonettes',data_average_price_2\
                                                       
                                                       ['Average_price_Flats_and_maisonettes'].cast(IntegerType()))

In [19]:

# checking for schema changed


data_average_price_2.printSchema()

root
 |-- City: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales_volume: integer (nullable = true)
 |-- Average_price_All_property_types: integer (nullable = true)
 |-- Average_price_Detached_houses: integer (nullable = true)
 |-- Average_price_Semi_detached_houses: integer (nullable = true)
 |-- Average_price_Terraced_houses: integer (nullable = true)
 |-- Average_price_Flats_and_maisonettes: integer (nullable = true)

In [20]:

# Changing the schema of 'Period' from string to date and saving into new column 'Time_Period'


data_average_price_3 = data_average_price_2.withColumn("Time_Period",f.to_date('Period','yyyy-MM'))

In [21]:

# printing schema

data_average_price_3.printSchema()

root
 |-- City: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales_volume: integer (nullable = true)
 |-- Average_price_All_property_types: integer (nullable = true)
 |-- Average_price_Detached_houses: integer (nullable = true)
 |-- Average_price_Semi_detached_houses: integer (nullable = true)
 |-- Average_price_Terraced_houses: integer (nullable = true)
 |-- Average_price_Flats_and_maisonettes: integer (nullable = true)
 |-- Time_Period: date (nullable = true)

In [22]:

# looking into the data to check 'Time_Period' field introduced

data_average_price_3.show(118)

+------------+-------+------------+--------------------------------+-----------------------------+----------------------------------+-----------------------------+-----------------------------------+-----------+
|        City| Period|Sales_volume|Average_price_All_property_types|Average_price_Detached_houses|Average_price_Semi_detached_houses|Average_price_Terraced_houses|Average_price_Flats_and_maisonettes|Time_Period|
+------------+-------+------------+--------------------------------+-----------------------------+----------------------------------+-----------------------------+-----------------------------------+-----------+
|Inner London|2017-01|        2836|                          579471|                      1350726|                            897741|                       678193|                             537324| 2017-01-01|
|Inner London|2017-02|        2787|                          582285|                      1347727|                            896440|                       679694|                             540466| 2017-02-01|
|Inner London|2017-03|        3332|                          582411|                      1355638|                            900954|                       681079|                             540149| 2017-03-01|
|Inner London|2017-04|        2960|                          584782|                      1358216|                            898260|                       680420|                             543278| 2017-04-01|
|Inner London|2017-05|        3261|                          584443|                      1359237|                            901742|                       679769|                             542917| 2017-05-01|
|Inner London|2017-06|        3826|                          586942|                      1358354|                            903064|                       680942|                             545709| 2017-06-01|
|Inner London|2017-07|        3398|                          589999|                      1365001|                            914055|                       686636|                             547921| 2017-07-01|
|Inner London|2017-08|        3413|                          592845|                      1381085|                            924059|                       695308|                             549200| 2017-08-01|
|Inner London|2017-09|        3190|                          593486|                      1388241|                            928042|                       697697|                             549338| 2017-09-01|
|Inner London|2017-10|        2978|                          588513|                      1378726|                            919532|                       691775|                             544761| 2017-10-01|
|Inner London|2017-11|        2780|                          581921|                      1352410|                            906109|                       681129|                             539417| 2017-11-01|
|Inner London|2017-12|        3153|                          578215|                      1340439|                            896512|                       674683|                             536553| 2017-12-01|
|Inner London|2018-01|        2646|                          578599|                      1337573|                            897397|                       673385|                             537308| 2018-01-01|
|Inner London|2018-02|        2605|                          580096|                      1356384|                            902871|                       674646|                             538706| 2018-02-01|
|Inner London|2018-03|        2848|                          577904|                      1342993|                            901679|                       674351|                             536258| 2018-03-01|
|Inner London|2018-04|        2542|                          577545|                      1350499|                            907395|                       678484|                             534910| 2018-04-01|
|Inner London|2018-05|        2831|                          577204|                      1346830|                            911985|                       682979|                             533584| 2018-05-01|
|Inner London|2018-06|        3264|                          579055|                      1362453|                            921786|                       687546|                             534668| 2018-06-01|
|Inner London|2018-07|        3148|                          579120|                      1370594|                            922542|                       690395|                             534182| 2018-07-01|
|Inner London|2018-08|        3412|                          578411|                      1369274|                            919412|                       690142|                             533462| 2018-08-01|
|Inner London|2018-09|        2934|                          576272|                      1364385|                            915990|                       688436|                             531336| 2018-09-01|
|Inner London|2018-10|        3012|                          574335|                      1353907|                            914361|                       684352|                             529860| 2018-10-01|
|Inner London|2018-11|        3090|                          573282|                      1360397|                            916185|                       683415|                             528724| 2018-11-01|
|Inner London|2018-12|        2816|                          572244|                      1365444|                            913122|                       679902|                             528189| 2018-12-01|
|Inner London|2019-01|        2258|                          566764|                      1358119|                            905486|                       673901|                             522995| 2019-01-01|
|Inner London|2019-02|        2197|                          560574|                      1342586|                            894130|                       666056|                             517416| 2019-02-01|
|Inner London|2019-03|        2587|                          559929|                      1333709|                            894392|                       668279|                             516248| 2019-03-01|
|Inner London|2019-04|        2217|                          563060|                      1338262|                            896946|                       672907|                             519019| 2019-04-01|
|Inner London|2019-05|        2657|                          565501|                      1344459|                            904522|                       679289|                             520444| 2019-05-01|
|Inner London|2019-06|        2672|                          565273|                      1349934|                            906689|                       678676|                             520219| 2019-06-01|
|Inner London|2019-07|        3464|                          569492|                      1358234|                            916584|                       684816|                             523803| 2019-07-01|
|Inner London|2019-08|        3382|                          571513|                      1369262|                            924852|                       690824|                             524775| 2019-08-01|
|Inner London|2019-09|        2962|                          576361|                      1384502|                            932039|                       698566|                             528835| 2019-09-01|
|Inner London|2019-10|        2968|                          571840|                      1384296|                            931633|                       694944|                             524087| 2019-10-01|
|Inner London|2019-11|        2953|                          571212|                      1383821|                            930750|                       691334|                             524090| 2019-11-01|
|Inner London|2019-12|        2837|                          573692|                      1383080|                            934985|                       694536|                             526342| 2019-12-01|
|Inner London|2020-01|        2527|                          578737|                      1382399|                            935387|                       698794|                             531600| 2020-01-01|
|Inner London|2020-02|        2399|                          582532|                      1389205|                            939783|                       705366|                             534648| 2020-02-01|
|Inner London|2020-03|        2743|                          583473|                      1402653|                            945310|                       706510|                             535330| 2020-03-01|
|Inner London|2020-04|        1365|                          581268|                      1422263|                            946310|                       706916|                             532386| 2020-04-01|
|Inner London|2020-05|        1210|                          579964|                      1414932|                            947908|                       703856|                             531431| 2020-05-01|
|Inner London|2020-06|        1649|                          578333|                      1398590|                            947645|                       706321|                             528949| 2020-06-01|
|Inner London|2020-07|        2388|                          582013|                      1383757|                            952850|                       711782|                             532231| 2020-07-01|
|Inner London|2020-08|        2385|                          589985|                      1414697|                            971057|                       726330|                             538289| 2020-08-01|
|Inner London|2020-09|        2874|                          595698|                      1443846|                            988984|                       736148|                             542603| 2020-09-01|
|Inner London|2020-10|        3034|                          594123|                      1452175|                            996216|                       740559|                             539482| 2020-10-01|
|Inner London|2020-11|        2868|                          592960|                      1447012|                            994945|                       741935|                             537817| 2020-11-01|
|Inner London|2020-12|        3595|                          589504|                      1438275|                            988424|                       739846|                             534229| 2020-12-01|
|Inner London|2021-01|        2739|                          594175|                      1454967|                            997036|                       744571|                             538659| 2021-01-01|
|Inner London|2021-02|        3055|                          589385|                      1447113|                            987911|                       738490|                             534330| 2021-02-01|
|Inner London|2021-03|        5396|                          590620|                      1453984|                            991139|                       740538|                             535279| 2021-03-01|
|Inner London|2021-04|        2805|                          585119|                      1444857|                            980813|                       733381|                             530361| 2021-04-01|
|Inner London|2021-05|        2321|                          582212|                      1445418|                            979789|                       730190|                             527492| 2021-05-01|
|Inner London|2021-06|        9031|                          581879|                      1443935|                            979055|                       734266|                             526204| 2021-06-01|
|Inner London|2021-07|         843|                          594402|                      1483426|                            990136|                       742966|                             539390| 2021-07-01|
|Inner London|2021-08|        1735|                          611193|                      1548413|                           1024081|                       766942|                             553714| 2021-08-01|
|Inner London|2021-09|        3283|                          611539|                      1570918|                           1033068|                       767468|                             553705| 2021-09-01|
|Inner London|2021-10|         869|                          608293|                      1599070|                           1053122|                       773289|                             547702| 2021-10-01|
|Inner London|2021-11|        1092|                          604452|                      1578799|                           1041581|                       765758|                             544997| 2021-11-01|
|   Leicester|2017-01|         223|                          150315|                       263884|                            168115|                       132562|                             113077| 2017-01-01|
|   Leicester|2017-02|         251|                          151327|                       265199|                            168844|                       133544|                             114320| 2017-02-01|
|   Leicester|2017-03|         315|                          152368|                       267378|                            170056|                       134235|                             115572| 2017-03-01|
|   Leicester|2017-04|         261|                          155313|                       272212|                            173231|                       136786|                             118179| 2017-04-01|
|   Leicester|2017-05|         249|                          155287|                       271374|                            173593|                       136563|                             118392| 2017-05-01|
|   Leicester|2017-06|         306|                          156174|                       271556|                            174364|                       137479|                             119392| 2017-06-01|
|   Leicester|2017-07|         291|                          157865|                       273657|                            176370|                       139069|                             120506| 2017-07-01|
|   Leicester|2017-08|         330|                          161720|                       280089|                            180519|                       142732|                             123044| 2017-08-01|
|   Leicester|2017-09|         290|                          162169|                       281453|                            181155|                       143128|                             123046| 2017-09-01|
|   Leicester|2017-10|         317|                          162157|                       282545|                            181488|                       142931|                             122735| 2017-10-01|
|   Leicester|2017-11|         313|                          161994|                       283145|                            181800|                       142694|                             121957| 2017-11-01|
|   Leicester|2017-12|         290|                          162814|                       284540|                            183133|                       143474|                             121891| 2017-12-01|
|   Leicester|2018-01|         212|                          165538|                       288972|                            186164|                       145911|                             123954| 2018-01-01|
|   Leicester|2018-02|         277|                          166441|                       291025|                            186825|                       146685|                             125000| 2018-02-01|
|   Leicester|2018-03|         264|                          165212|                       288972|                            185331|                       145730|                             123919| 2018-03-01|
|   Leicester|2018-04|         268|                          165742|                       290130|                            186078|                       146476|                             123378| 2018-04-01|
|   Leicester|2018-05|         295|                          166020|                       290114|                            186621|                       146858|                             123097| 2018-05-01|
|   Leicester|2018-06|         289|                          170059|                       297276|                            191483|                       150267|                             125978| 2018-06-01|
|   Leicester|2018-07|         300|                          169342|                       296110|                            190566|                       149524|                             125824| 2018-07-01|
|   Leicester|2018-08|         316|                          171367|                       299446|                            192795|                       151395|                             127274| 2018-08-01|
|   Leicester|2018-09|         281|                          170960|                       298985|                            192146|                       151117|                             126976| 2018-09-01|
|   Leicester|2018-10|         332|                          172765|                       302286|                            194398|                       152685|                             128020| 2018-10-01|
|   Leicester|2018-11|         349|                          173244|                       304192|                            195337|                       152996|                             127738| 2018-11-01|
|   Leicester|2018-12|         264|                          174632|                       306662|                            197191|                       154088|                             128646| 2018-12-01|
|   Leicester|2019-01|         227|                          172451|                       303634|                            194898|                       151998|                             126933| 2019-01-01|
|   Leicester|2019-02|         246|                          168644|                       297634|                            190379|                       148485|                             124628| 2019-02-01|
|   Leicester|2019-03|         248|                          166813|                       295108|                            188451|                       146914|                             122721| 2019-03-01|
|   Leicester|2019-04|         212|                          169579|                       299313|                            191375|                       149600|                             124711| 2019-04-01|
|   Leicester|2019-05|         253|                          174050|                       305829|                            196607|                       153874|                             127323| 2019-05-01|
|   Leicester|2019-06|         214|                          176246|                       308588|                            199042|                       155914|                             129215| 2019-06-01|
|   Leicester|2019-07|         281|                          176434|                       308472|                            199132|                       156180|                             129498| 2019-07-01|
|   Leicester|2019-08|         278|                          177161|                       309585|                            199761|                       156942|                             130118| 2019-08-01|

In [23]:


# We have performed pre processing for the Average_house_price dataset.

# data_average_price_3 is the data frame obtained after pre-processing

# Below is the schema of the dataset


data_average_price_3.printSchema()

root
 |-- City: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales_volume: integer (nullable = true)
 |-- Average_price_All_property_types: integer (nullable = true)
 |-- Average_price_Detached_houses: integer (nullable = true)
 |-- Average_price_Semi_detached_houses: integer (nullable = true)
 |-- Average_price_Terraced_houses: integer (nullable = true)
 |-- Average_price_Flats_and_maisonettes: integer (nullable = true)
 |-- Time_Period: date (nullable = true)



#  Data Pre-processing On Price_Percentage_Change(Yearly) Data

## Importing Data

In [24]:

# Creating a DataFrame directly from multiple csv files containing percentage change Data 


data_percentage_change_1 = spark.read.option("header", "true").option("delimiter", ",").option("inferSchema", "true")\
                           .csv("hdfs:///user/imat5322_1308287/*change.csv")

In [25]:

# Printing schema of the data


data_percentage_change_1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- URI: string (nullable = true)
 |-- Region GSS code: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales volume: string (nullable = true)
 |-- Reporting period: string (nullable = true)
 |-- Percentage change (yearly) All property types: string (nullable = true)
 |-- Percentage change (yearly) Detached houses: string (nullable = true)
 |-- Percentage change (yearly) Semi-detached houses: string (nullable = true)
 |-- Percentage change (yearly) Terraced houses: string (nullable = true)
 |-- Percentage change (yearly) Flats and maisonettes: string (nullable = true)
 |-- Pivotable date: string (nullable = true)

In [26]:

# Calling an action to Look into number of records in the data set


data_percentage_change_1.count()

120

In [27]:

# Calling an action to Look into the data set


data_percentage_change_1.show(120)

+------------+--------------------+---------------+-------+------------+----------------+---------------------------------------------+------------------------------------------+-----------------------------------------------+------------------------------------------+------------------------------------------------+--------------+
|        Name|                 URI|Region GSS code| Period|Sales volume|Reporting period|Percentage change (yearly) All property types|Percentage change (yearly) Detached houses|Percentage change (yearly) Semi-detached houses|Percentage change (yearly) Terraced houses|Percentage change (yearly) Flats and maisonettes|Pivotable date|
+------------+--------------------+---------------+-------+------------+----------------+---------------------------------------------+------------------------------------------+-----------------------------------------------+------------------------------------------+------------------------------------------------+--------------+
|Inner London|http://landregist...|      E13000001|2017-01|        2836|         monthly|                                         2.89|                                      2.47|                                           1.73|                                      1.77|                                            3.28|    2017-01-01|
|Inner London|http://landregist...|      E13000001|2017-02|        2787|         monthly|                                         2.99|                                      0.95|                                           0.19|                                      1.37|                                            3.61|    2017-02-01|
|Inner London|http://landregist...|      E13000001|2017-03|        3332|         monthly|                                         1.55|                                     -0.02|                                          -0.67|                                      0.28|                                            2.03|    2017-03-01|
|Inner London|http://landregist...|      E13000001|2017-04|        2960|         monthly|                                         3.31|                                      1.84|                                           1.44|                                      1.98|                                            3.78|    2017-04-01|
|Inner London|http://landregist...|      E13000001|2017-05|        3261|         monthly|                                         2.65|                                      2.24|                                           1.25|                                      0.87|                                            3.24|    2017-05-01|
|Inner London|http://landregist...|      E13000001|2017-06|        3826|         monthly|                                         3.57|                                      2.78|                                            1.4|                                      0.96|                                            4.44|    2017-06-01|
|Inner London|http://landregist...|      E13000001|2017-07|        3398|         monthly|                                         3.21|                                      2.44|                                           1.39|                                      0.73|                                            4.03|    2017-07-01|
|Inner London|http://landregist...|      E13000001|2017-08|        3413|         monthly|                                          3.7|                                      3.01|                                           2.07|                                      1.92|                                            4.31|    2017-08-01|
|Inner London|http://landregist...|      E13000001|2017-09|        3190|         monthly|                                         3.09|                                       2.9|                                           1.62|                                      1.64|                                             3.6|    2017-09-01|
|Inner London|http://landregist...|      E13000001|2017-10|        2978|         monthly|                                         2.45|                                      2.52|                                           1.38|                                       1.7|                                            2.73|    2017-10-01|
|Inner London|http://landregist...|      E13000001|2017-11|        2780|         monthly|                                         0.69|                                       0.2|                                            0.2|                                      0.25|                                            0.83|    2017-11-01|
|Inner London|http://landregist...|      E13000001|2017-12|        3153|         monthly|                                         0.19|                                     -0.45|                                          -0.05|                                     -0.04|                                            0.26|    2017-12-01|
|Inner London|http://landregist...|      E13000001|2018-01|        2646|         monthly|                                        -0.15|                                     -0.97|                                          -0.04|                                     -0.71|                                             0.0|    2018-01-01|
|Inner London|http://landregist...|      E13000001|2018-02|        2605|         monthly|                                        -0.38|                                      0.64|                                           0.72|                                     -0.74|                                           -0.33|    2018-02-01|
|Inner London|http://landregist...|      E13000001|2018-03|        2848|         monthly|                                        -0.77|                                     -0.93|                                           0.08|                                     -0.99|                                           -0.72|    2018-03-01|
|Inner London|http://landregist...|      E13000001|2018-04|        2542|         monthly|                                        -1.24|                                     -0.57|                                           1.02|                                     -0.28|                                           -1.54|    2018-04-01|
|Inner London|http://landregist...|      E13000001|2018-05|        2831|         monthly|                                        -1.24|                                     -0.91|                                           1.14|                                      0.47|                                           -1.72|    2018-05-01|
|Inner London|http://landregist...|      E13000001|2018-06|        3264|         monthly|                                        -1.34|                                       0.3|                                           2.08|                                      0.97|                                           -2.02|    2018-06-01|
|Inner London|http://landregist...|      E13000001|2018-07|        3148|         monthly|                                        -1.84|                                      0.41|                                           0.93|                                      0.55|                                           -2.51|    2018-07-01|
|Inner London|http://landregist...|      E13000001|2018-08|        3412|         monthly|                                        -2.43|                                     -0.86|                                           -0.5|                                     -0.74|                                           -2.87|    2018-08-01|
|Inner London|http://landregist...|      E13000001|2018-09|        2934|         monthly|                                         -2.9|                                     -1.72|                                           -1.3|                                     -1.33|                                           -3.28|    2018-09-01|
|Inner London|http://landregist...|      E13000001|2018-10|        3012|         monthly|                                        -2.41|                                      -1.8|                                          -0.56|                                     -1.07|                                           -2.74|    2018-10-01|
|Inner London|http://landregist...|      E13000001|2018-11|        3090|         monthly|                                        -1.48|                                      0.59|                                           1.11|                                      0.34|                                           -1.98|    2018-11-01|
|Inner London|http://landregist...|      E13000001|2018-12|        2816|         monthly|                                        -1.03|                                      1.87|                                           1.85|                                      0.77|                                           -1.56|    2018-12-01|
|Inner London|http://landregist...|      E13000001|2019-01|        2258|         monthly|                                        -2.05|                                      1.54|                                            0.9|                                      0.08|                                           -2.66|    2019-01-01|
|Inner London|http://landregist...|      E13000001|2019-02|        2197|         monthly|                                        -3.37|                                     -1.02|                                          -0.97|                                     -1.27|                                           -3.95|    2019-02-01|
|Inner London|http://landregist...|      E13000001|2019-03|        2587|         monthly|                                        -3.11|                                     -0.69|                                          -0.81|                                      -0.9|                                           -3.73|    2019-03-01|
|Inner London|http://landregist...|      E13000001|2019-04|        2217|         monthly|                                        -2.51|                                     -0.91|                                          -1.15|                                     -0.82|                                           -2.97|    2019-04-01|
|Inner London|http://landregist...|      E13000001|2019-05|        2657|         monthly|                                        -2.03|                                     -0.18|                                          -0.82|                                     -0.54|                                           -2.46|    2019-05-01|
|Inner London|http://landregist...|      E13000001|2019-06|        2672|         monthly|                                        -2.38|                                     -0.92|                                          -1.64|                                     -1.29|                                            -2.7|    2019-06-01|
|Inner London|http://landregist...|      E13000001|2019-07|        3464|         monthly|                                        -1.66|                                      -0.9|                                          -0.65|                                     -0.81|                                           -1.94|    2019-07-01|
|Inner London|http://landregist...|      E13000001|2019-08|        3382|         monthly|                                        -1.19|                                       0.0|                                           0.59|                                       0.1|                                           -1.63|    2019-08-01|
|Inner London|http://landregist...|      E13000001|2019-09|        2962|         monthly|                                         0.02|                                      1.47|                                           1.75|                                      1.47|                                           -0.47|    2019-09-01|
|Inner London|http://landregist...|      E13000001|2019-10|        2968|         monthly|                                        -0.43|                                      2.24|                                           1.89|                                      1.55|                                           -1.09|    2019-10-01|
|Inner London|http://landregist...|      E13000001|2019-11|        2953|         monthly|                                        -0.36|                                      1.72|                                           1.59|                                      1.16|                                           -0.88|    2019-11-01|
|Inner London|http://landregist...|      E13000001|2019-12|        2837|         monthly|                                         0.25|                                      1.29|                                           2.39|                                      2.15|                                           -0.35|    2019-12-01|
|Inner London|http://landregist...|      E13000001|2020-01|        2527|         monthly|                                         2.11|                                      1.79|                                            3.3|                                      3.69|                                            1.65|    2020-01-01|
|Inner London|http://landregist...|      E13000001|2020-02|        2399|         monthly|                                         3.92|                                      3.47|                                           5.11|                                       5.9|                                            3.33|    2020-02-01|
|Inner London|http://landregist...|      E13000001|2020-03|        2743|         monthly|                                          4.2|                                      5.17|                                           5.69|                                      5.72|                                             3.7|    2020-03-01|
|Inner London|http://landregist...|      E13000001|2020-04|        1365|         monthly|                                         3.23|                                      6.28|                                            5.5|                                      5.05|                                            2.58|    2020-04-01|
|Inner London|http://landregist...|      E13000001|2020-05|        1210|         monthly|                                         2.56|                                      5.24|                                            4.8|                                      3.62|                                            2.11|    2020-05-01|
|Inner London|http://landregist...|      E13000001|2020-06|        1649|         monthly|                                         2.31|                                       3.6|                                           4.52|                                      4.07|                                            1.68|    2020-06-01|
|Inner London|http://landregist...|      E13000001|2020-07|        2388|         monthly|                                          2.2|                                      1.88|                                           3.96|                                      3.94|                                            1.61|    2020-07-01|
|Inner London|http://landregist...|      E13000001|2020-08|        2385|         monthly|                                         3.23|                                      3.32|                                            5.0|                                      5.14|                                            2.58|    2020-08-01|
|Inner London|http://landregist...|      E13000001|2020-09|        2874|         monthly|                                         3.35|                                      4.29|                                           6.11|                                      5.38|                                             2.6|    2020-09-01|
|Inner London|http://landregist...|      E13000001|2020-10|        3034|         monthly|                                          3.9|                                       4.9|                                           6.93|                                      6.56|                                            2.94|    2020-10-01|
|Inner London|http://landregist...|      E13000001|2020-11|        2868|         monthly|                                         3.81|                                      4.57|                                            6.9|                                      7.32|                                            2.62|    2020-11-01|
|Inner London|http://landregist...|      E13000001|2020-12|        3595|         monthly|                                         2.76|                                      3.99|                                           5.72|                                      6.52|                                             1.5|    2020-12-01|
|Inner London|http://landregist...|      E13000001|2021-01|        2739|         monthly|                                         2.67|                                      5.25|                                           6.59|                                      6.55|                                            1.33|    2021-01-01|
|Inner London|http://landregist...|      E13000001|2021-02|        3055|         monthly|                                         1.18|                                      4.17|                                           5.12|                                       4.7|                                           -0.06|    2021-02-01|
|Inner London|http://landregist...|      E13000001|2021-03|        5396|         monthly|                                         1.22|                                      3.66|                                           4.85|                                      4.82|                                           -0.01|    2021-03-01|
|Inner London|http://landregist...|      E13000001|2021-04|        2805|         monthly|                                         0.66|                                      1.59|                                           3.65|                                      3.74|                                           -0.38|    2021-04-01|
|Inner London|http://landregist...|      E13000001|2021-05|        2321|         monthly|                                         0.39|                                      2.15|                                           3.36|                                      3.74|                                           -0.74|    2021-05-01|
|Inner London|http://landregist...|      E13000001|2021-06|        9031|         monthly|                                         0.61|                                      3.24|                                           3.31|                                      3.96|                                           -0.52|    2021-06-01|
|Inner London|http://landregist...|      E13000001|2021-07|         843|         monthly|                                         2.13|                                       7.2|                                           3.91|                                      4.38|                                            1.34|    2021-07-01|
|Inner London|http://landregist...|      E13000001|2021-08|        1735|         monthly|                                         3.59|                                      9.45|                                           5.46|                                      5.59|                                            2.87|    2021-08-01|

## Filtering Cloumns

In [28]:

# Dropping columns which are not required from the data  

data_percentage_change_2 = data_percentage_change_1.drop('URI', 'Reporting period','Region GSS code','Pivotable date')

In [29]:

# Calling Action to Check the columns in the data set.

data_percentage_change_2.columns

['Name',
 'Period',
 'Sales volume',
 'Percentage change (yearly) All property types',
 'Percentage change (yearly) Detached houses',
 'Percentage change (yearly) Semi-detached houses',
 'Percentage change (yearly) Terraced houses',
 'Percentage change (yearly) Flats and maisonettes']

## Renaming Columns

In [30]:

# Renaming the columns  /  tidy up the columns


data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Name','City')

data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Sales volume','Sales_volume')

data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Percentage change (yearly) All property types',\
                                                                        'Percentage_change_All_property_types')

data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Percentage change (yearly) Detached houses',\
                                                                        'Percentage_change_Detached_houses')

data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Percentage change (yearly) Semi-detached houses',\
                                                                        'Percentage_change_Semi-detached_houses')

data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Percentage change (yearly) Terraced houses',\
                                                                        'Percentage_change_Terraced_houses')

data_percentage_change_2   = data_percentage_change_2.withColumnRenamed('Percentage change (yearly) Flats and maisonettes',\
                                                                        'Percentage_change_Flats_and_maisonettes')

In [31]:

# Looking into columns to check columns in the data set

data_percentage_change_2.columns

['City',
 'Period',
 'Sales_volume',
 'Percentage_change_All_property_types',
 'Percentage_change_Detached_houses',
 'Percentage_change_Semi-detached_houses',
 'Percentage_change_Terraced_houses',
 'Percentage_change_Flats_and_maisonettes']

## Handling Missing Values

In [32]:

# Checking for missing values in the data 

                                                                                     # Introducing a counter    
i = 0               
                                                                                     # Getting total records in the dataframe
total = data_percentage_change_2.count()
print("Total Records = " + str(total))
                                                                                     # Printing the amount of columns
print("Total columns = " + str(len(data_percentage_change_2.columns)))        
print("------------------------------------------")

                                                                    # looping entire df and get the missing value number 
                                                                    # And missing rate of each column

while i < len(data_percentage_change_2.columns):    
                                                                    # loop through all columns    
    print(str(i+1) + "." + str(data_percentage_change_2[i]))
    print("  Missing Values = ") 
    print("------------------------------------------")    
                                                                    # check for missing values     

    missing_value = data_percentage_change_2.select([count(when(data_percentage_change_2[i].isNull(),True))]).show()   
    
                                                                    # Adding counter by 1   

    i = i+1

Total Records = 120
Total columns = 8
------------------------------------------
1.Column<b'City'>
  Missing Values =
------------------------------------------
+---------------------------------------------+
|count(CASE WHEN (City IS NULL) THEN true END)|
+---------------------------------------------+
|                                            0|
+---------------------------------------------+

2.Column<b'Period'>
  Missing Values =
------------------------------------------
+-----------------------------------------------+
|count(CASE WHEN (Period IS NULL) THEN true END)|
+-----------------------------------------------+
|                                              0|
+-----------------------------------------------+

3.Column<b'Sales_volume'>
  Missing Values =
------------------------------------------
+-----------------------------------------------------+
|count(CASE WHEN (Sales_volume IS NULL) THEN true END)|
+-----------------------------------------------------+
|                                                    2|
+-----------------------------------------------------+

4.Column<b'Percentage_change_All_property_types'>
  Missing Values =
------------------------------------------
+-----------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_All_property_types IS NULL) THEN true END)|
+-----------------------------------------------------------------------------+
|                                                                            0|
+-----------------------------------------------------------------------------+

5.Column<b'Percentage_change_Detached_houses'>
  Missing Values =
------------------------------------------
+--------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Detached_houses IS NULL) THEN true END)|
+--------------------------------------------------------------------------+
|                                                                         0|
+--------------------------------------------------------------------------+

6.Column<b'Percentage_change_Semi-detached_houses'>
  Missing Values =
------------------------------------------
+-------------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Semi-detached_houses IS NULL) THEN true END)|
+-------------------------------------------------------------------------------+
|                                                                              0|
+-------------------------------------------------------------------------------+

7.Column<b'Percentage_change_Terraced_houses'>
  Missing Values =
------------------------------------------
+--------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Terraced_houses IS NULL) THEN true END)|
+--------------------------------------------------------------------------+
|                                                                         0|
+--------------------------------------------------------------------------+

8.Column<b'Percentage_change_Flats_and_maisonettes'>
  Missing Values =
------------------------------------------
+--------------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Flats_and_maisonettes IS NULL) THEN true END)|
+--------------------------------------------------------------------------------+
|                                                                               0|
+--------------------------------------------------------------------------------+

In [33]:


# FROM THE ABOVE TABLE WE SEE THERE ARE NO RECORDS WHERE ALL VALUES ARE EMPTY. 

# BUT WE FIND Two NAN VALUES IN Sales_volume column.

In [34]:

# Excluding all records with nan values in the data.

data_percentage_change_3 = data_percentage_change_2.na.drop(how = "any")

In [35]:

# Checking number of records after droping null values


print('Before dropping : '+ str(data_percentage_change_2.count()))
print(" ")    
print('After  dropping : '+ str(data_percentage_change_3.count()))

Before dropping : 120

After  dropping : 118

In [36]:
# Checking for missing values after droping the "nan" values



                                                                            # Introducing a counter
    
i = 0               

                                                                            # Getting total records in the dataframe    

total = data_percentage_change_3.count()
print("Total Records = " + str(total))

                                                                            # Printing the amount of columns

print("Total columns = " + str(len(data_percentage_change_3.columns)))        
print("------------------------------------------")

                                        # looping entire df and get the missing value number and missing rate of each column

while i < len(data_percentage_change_3.columns):    
                                                                            #loop through all columns    
    print(str(i+1) + "." + str(data_percentage_change_3[i]))
    print("  Missing Values = ") 
    print("------------------------------------------")    
                                                                            # check for missing values     

    missing_value = data_percentage_change_3.select([count(when(data_percentage_change_3[i].isNull(),True))]).show()   
    
                                                                            # adding counter by 1   

    i = i+1

Total Records = 118
Total columns = 8
------------------------------------------
1.Column<b'City'>
  Missing Values =
------------------------------------------
+---------------------------------------------+
|count(CASE WHEN (City IS NULL) THEN true END)|
+---------------------------------------------+
|                                            0|
+---------------------------------------------+

2.Column<b'Period'>
  Missing Values =
------------------------------------------
+-----------------------------------------------+
|count(CASE WHEN (Period IS NULL) THEN true END)|
+-----------------------------------------------+
|                                              0|
+-----------------------------------------------+

3.Column<b'Sales_volume'>
  Missing Values =
------------------------------------------
+-----------------------------------------------------+
|count(CASE WHEN (Sales_volume IS NULL) THEN true END)|
+-----------------------------------------------------+
|                                                    0|
+-----------------------------------------------------+

4.Column<b'Percentage_change_All_property_types'>
  Missing Values =
------------------------------------------
+-----------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_All_property_types IS NULL) THEN true END)|
+-----------------------------------------------------------------------------+
|                                                                            0|
+-----------------------------------------------------------------------------+

5.Column<b'Percentage_change_Detached_houses'>
  Missing Values =
------------------------------------------
+--------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Detached_houses IS NULL) THEN true END)|
+--------------------------------------------------------------------------+
|                                                                         0|
+--------------------------------------------------------------------------+

6.Column<b'Percentage_change_Semi-detached_houses'>
  Missing Values =
------------------------------------------
+-------------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Semi-detached_houses IS NULL) THEN true END)|
+-------------------------------------------------------------------------------+
|                                                                              0|
+-------------------------------------------------------------------------------+

7.Column<b'Percentage_change_Terraced_houses'>
  Missing Values =
------------------------------------------
+--------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Terraced_houses IS NULL) THEN true END)|
+--------------------------------------------------------------------------+
|                                                                         0|
+--------------------------------------------------------------------------+

8.Column<b'Percentage_change_Flats_and_maisonettes'>
  Missing Values =
------------------------------------------
+--------------------------------------------------------------------------------+
|count(CASE WHEN (Percentage_change_Flats_and_maisonettes IS NULL) THEN true END)|
+--------------------------------------------------------------------------------+
|                                                                               0|
+--------------------------------------------------------------------------------+

## Handling the schema of the dataframe

In [37]:

# looking into the original schema of the data

data_percentage_change_3.printSchema()

root
 |-- City: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales_volume: string (nullable = true)
 |-- Percentage_change_All_property_types: string (nullable = true)
 |-- Percentage_change_Detached_houses: string (nullable = true)
 |-- Percentage_change_Semi-detached_houses: string (nullable = true)
 |-- Percentage_change_Terraced_houses: string (nullable = true)
 |-- Percentage_change_Flats_and_maisonettes: string (nullable = true)

In [38]:

# changing the schema of 'Period' from string to date and saving into new column 'Time_Period'


data_percentage_change_3 = data_percentage_change_3.withColumn("Time_Period",f.to_date('Period','yyyy-MM'))

In [39]:

# casting the schema for the columns 


data_percentage_change_3 = data_percentage_change_3.withColumn('City',data_percentage_change_3['City']\
                                                               .cast(StringType()))


data_percentage_change_3 = data_percentage_change_3.withColumn('Period',data_percentage_change_3['Period']\
                                                               .cast(StringType()))


data_percentage_change_3 = data_percentage_change_3.withColumn('Sales_volume',data_percentage_change_3['Sales_volume']\
                                                               .cast(IntegerType()))


data_percentage_change_3 = data_percentage_change_3.withColumn('Percentage_change_All_property_types'\
                                                               ,data_percentage_change_3['Percentage_change_All_property_types']\
                                                               .cast(FloatType()))


data_percentage_change_3 = data_percentage_change_3.withColumn('Percentage_change_Detached_houses'\
                                                               ,data_percentage_change_3['Percentage_change_Detached_houses']\
                                                               .cast(FloatType()))


data_percentage_change_3 = data_percentage_change_3.withColumn('Percentage_change_Semi-detached_houses',data_percentage_change_3\
                                                               ['Percentage_change_Semi-detached_houses'].cast(FloatType()))


data_percentage_change_3 = data_percentage_change_3.withColumn('Percentage_change_Terraced_houses',data_percentage_change_3\
                                                               ['Percentage_change_Terraced_houses'].cast(FloatType()))

data_percentage_change_3 = data_percentage_change_3.withColumn('Percentage_change_Flats_and_maisonettes',data_percentage_change_3\
                                                               ['Percentage_change_Flats_and_maisonettes'].cast(FloatType()))

In [40]:

data_percentage_change_3.printSchema()

root
 |-- City: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Sales_volume: integer (nullable = true)
 |-- Percentage_change_All_property_types: float (nullable = true)
 |-- Percentage_change_Detached_houses: float (nullable = true)
 |-- Percentage_change_Semi-detached_houses: float (nullable = true)
 |-- Percentage_change_Terraced_houses: float (nullable = true)
 |-- Percentage_change_Flats_and_maisonettes: float (nullable = true)
 |-- Time_Period: date (nullable = true)

In [41]:
# counting number of records available

data_percentage_change_3.count()

118

In [42]:
# We have performed pre processing for the Price_Percentage_Change(Yearly) Dataset.


data_percentage_change_3.show(118)

+------------+-------+------------+------------------------------------+---------------------------------+--------------------------------------+---------------------------------+---------------------------------------+-----------+
|        City| Period|Sales_volume|Percentage_change_All_property_types|Percentage_change_Detached_houses|Percentage_change_Semi-detached_houses|Percentage_change_Terraced_houses|Percentage_change_Flats_and_maisonettes|Time_Period|
+------------+-------+------------+------------------------------------+---------------------------------+--------------------------------------+---------------------------------+---------------------------------------+-----------+
|Inner London|2017-01|        2836|                                2.89|                             2.47|                                  1.73|                             1.77|                                   3.28| 2017-01-01|
|Inner London|2017-02|        2787|                                2.99|                             0.95|                                  0.19|                             1.37|                                   3.61| 2017-02-01|
|Inner London|2017-03|        3332|                                1.55|                            -0.02|                                 -0.67|                             0.28|                                   2.03| 2017-03-01|
|Inner London|2017-04|        2960|                                3.31|                             1.84|                                  1.44|                             1.98|                                   3.78| 2017-04-01|
|Inner London|2017-05|        3261|                                2.65|                             2.24|                                  1.25|                             0.87|                                   3.24| 2017-05-01|
|Inner London|2017-06|        3826|                                3.57|                             2.78|                                   1.4|                             0.96|                                   4.44| 2017-06-01|
|Inner London|2017-07|        3398|                                3.21|                             2.44|                                  1.39|                             0.73|                                   4.03| 2017-07-01|
|Inner London|2017-08|        3413|                                 3.7|                             3.01|                                  2.07|                             1.92|                                   4.31| 2017-08-01|
|Inner London|2017-09|        3190|                                3.09|                              2.9|                                  1.62|                             1.64|                                    3.6| 2017-09-01|
|Inner London|2017-10|        2978|                                2.45|                             2.52|                                  1.38|                              1.7|                                   2.73| 2017-10-01|
|Inner London|2017-11|        2780|                                0.69|                              0.2|                                   0.2|                             0.25|                                   0.83| 2017-11-01|
|Inner London|2017-12|        3153|                                0.19|                            -0.45|                                 -0.05|                            -0.04|                                   0.26| 2017-12-01|
|Inner London|2018-01|        2646|                               -0.15|                            -0.97|                                 -0.04|                            -0.71|                                    0.0| 2018-01-01|
|Inner London|2018-02|        2605|                               -0.38|                             0.64|                                  0.72|                            -0.74|                                  -0.33| 2018-02-01|
|Inner London|2018-03|        2848|                               -0.77|                            -0.93|                                  0.08|                            -0.99|                                  -0.72| 2018-03-01|
|Inner London|2018-04|        2542|                               -1.24|                            -0.57|                                  1.02|                            -0.28|                                  -1.54| 2018-04-01|
|Inner London|2018-05|        2831|                               -1.24|                            -0.91|                                  1.14|                             0.47|                                  -1.72| 2018-05-01|
|Inner London|2018-06|        3264|                               -1.34|                              0.3|                                  2.08|                             0.97|                                  -2.02| 2018-06-01|
|Inner London|2018-07|        3148|                               -1.84|                             0.41|                                  0.93|                             0.55|                                  -2.51| 2018-07-01|
|Inner London|2018-08|        3412|                               -2.43|                            -0.86|                                  -0.5|                            -0.74|                                  -2.87| 2018-08-01|
|Inner London|2018-09|        2934|                                -2.9|                            -1.72|                                  -1.3|                            -1.33|                                  -3.28| 2018-09-01|
|Inner London|2018-10|        3012|                               -2.41|                             -1.8|                                 -0.56|                            -1.07|                                  -2.74| 2018-10-01|
|Inner London|2018-11|        3090|                               -1.48|                             0.59|                                  1.11|                             0.34|                                  -1.98| 2018-11-01|
|Inner London|2018-12|        2816|                               -1.03|                             1.87|                                  1.85|                             0.77|                                  -1.56| 2018-12-01|
|Inner London|2019-01|        2258|                               -2.05|                             1.54|                                   0.9|                             0.08|                                  -2.66| 2019-01-01|
|Inner London|2019-02|        2197|                               -3.37|                            -1.02|                                 -0.97|                            -1.27|                                  -3.95| 2019-02-01|
|Inner London|2019-03|        2587|                               -3.11|                            -0.69|                                 -0.81|                             -0.9|                                  -3.73| 2019-03-01|
|Inner London|2019-04|        2217|                               -2.51|                            -0.91|                                 -1.15|                            -0.82|                                  -2.97| 2019-04-01|
|Inner London|2019-05|        2657|                               -2.03|                            -0.18|                                 -0.82|                            -0.54|                                  -2.46| 2019-05-01|
|Inner London|2019-06|        2672|                               -2.38|                            -0.92|                                 -1.64|                            -1.29|                                   -2.7| 2019-06-01|
|Inner London|2019-07|        3464|                               -1.66|                             -0.9|                                 -0.65|                            -0.81|                                  -1.94| 2019-07-01|
|Inner London|2019-08|        3382|                               -1.19|                              0.0|                                  0.59|                              0.1|                                  -1.63| 2019-08-01|
|Inner London|2019-09|        2962|                                0.02|                             1.47|                                  1.75|                             1.47|                                  -0.47| 2019-09-01|
|Inner London|2019-10|        2968|                               -0.43|                             2.24|                                  1.89|                             1.55|                                  -1.09| 2019-10-01|
|Inner London|2019-11|        2953|                               -0.36|                             1.72|                                  1.59|                             1.16|                                  -0.88| 2019-11-01|
|Inner London|2019-12|        2837|                                0.25|                             1.29|                                  2.39|                             2.15|                                  -0.35| 2019-12-01|
|Inner London|2020-01|        2527|                                2.11|                             1.79|                                   3.3|                             3.69|                                   1.65| 2020-01-01|
|Inner London|2020-02|        2399|                                3.92|                             3.47|                                  5.11|                              5.9|                                   3.33| 2020-02-01|
|Inner London|2020-03|        2743|                                 4.2|                             5.17|                                  5.69|                             5.72|                                    3.7| 2020-03-01|
|Inner London|2020-04|        1365|                                3.23|                             6.28|                                   5.5|                             5.05|                                   2.58| 2020-04-01|
|Inner London|2020-05|        1210|                                2.56|                             5.24|                                   4.8|                             3.62|                                   2.11| 2020-05-01|
|Inner London|2020-06|        1649|                                2.31|                              3.6|                                  4.52|                             4.07|                                   1.68| 2020-06-01|
|Inner London|2020-07|        2388|                                 2.2|                             1.88|                                  3.96|                             3.94|                                   1.61| 2020-07-01|
|Inner London|2020-08|        2385|                                3.23|                             3.32|                                   5.0|                             5.14|                                   2.58| 2020-08-01|
|Inner London|2020-09|        2874|                                3.35|                             4.29|                                  6.11|                             5.38|                                    2.6| 2020-09-01|
|Inner London|2020-10|        3034|                                 3.9|                              4.9|                                  6.93|                             6.56|                                   2.94| 2020-10-01|
|Inner London|2020-11|        2868|                                3.81|                             4.57|                                   6.9|                             7.32|                                   2.62| 2020-11-01|
|Inner London|2020-12|        3595|                                2.76|                             3.99|                                  5.72|                             6.52|                                    1.5| 2020-12-01|
|Inner London|2021-01|        2739|                                2.67|                             5.25|                                  6.59|                             6.55|                                   1.33| 2021-01-01|
|Inner London|2021-02|        3055|                                1.18|                             4.17|                                  5.12|                              4.7|                                  -0.06| 2021-02-01|
|Inner London|2021-03|        5396|                                1.22|                             3.66|                                  4.85|                             4.82|                                  -0.01| 2021-03-01|
|Inner London|2021-04|        2805|                                0.66|                             1.59|                                  3.65|                             3.74|                                  -0.38| 2021-04-01|
|Inner London|2021-05|        2321|                                0.39|                             2.15|                                  3.36|                             3.74|                                  -0.74| 2021-05-01|
|Inner London|2021-06|        9031|                                0.61|                             3.24|                                  3.31|                             3.96|                                  -0.52| 2021-06-01|
|Inner London|2021-07|         843|                                2.13|                              7.2|                                  3.91|                             4.38|                                   1.34| 2021-07-01|
|Inner London|2021-08|        1735|                                3.59|                             9.45|                                  5.46|                             5.59|                                   2.87| 2021-08-01|
|Inner London|2021-09|        3283|                                2.66|                              8.8|                                  4.46|                             4.25|                                   2.05| 2021-09-01|
|Inner London|2021-10|         869|                                2.38|                            10.12|                                  5.71|                             4.42|                                   1.52| 2021-10-01|
|Inner London|2021-11|        1092|                                1.94|                             9.11|                                  4.69|                             3.21|                                   1.34| 2021-11-01|
|   Leicester|2017-01|         223|                                5.61|                             6.98|                                  5.45|                             5.02|                                   7.25| 2017-01-01|
|   Leicester|2017-02|         251|                                4.89|                             6.08|                                  4.37|                             4.43|                                   6.99| 2017-02-01|
|   Leicester|2017-03|         315|                                 5.8|                              7.6|                                  5.36|                             5.16|                                   7.81| 2017-03-01|
|   Leicester|2017-04|         261|                                8.06|                             8.75|                                  7.94|                             7.36|                                  10.41| 2017-04-01|
|   Leicester|2017-05|         249|                                6.38|                             7.16|                                  6.63|                             5.41|                                   8.69| 2017-05-01|
|   Leicester|2017-06|         306|                                5.44|                             5.78|                                  5.43|                             4.53|                                   8.45| 2017-06-01|
|   Leicester|2017-07|         291|                                5.21|                             5.61|                                  5.47|                              4.3|                                   7.56| 2017-07-01|
|   Leicester|2017-08|         330|                                8.31|                             8.47|                                  8.39|                             7.64|                                  10.46| 2017-08-01|
|   Leicester|2017-09|         290|                                8.14|                             8.52|                                  8.19|                             7.51|                                  10.11| 2017-09-01|
|   Leicester|2017-10|         317|                                 7.0|                             7.22|                                  7.02|                             6.54|                                   8.52| 2017-10-01|
|   Leicester|2017-11|         313|                                6.63|                             6.54|                                  6.76|                             6.37|                                    7.5| 2017-11-01|
|   Leicester|2017-12|         290|                                6.59|                             6.22|                                  7.05|                             6.49|                                   6.39| 2017-12-01|
|   Leicester|2018-01|         212|                               10.13|                             9.51|                                 10.74|                            10.07|                                   9.62| 2018-01-01|
|   Leicester|2018-02|         277|                                9.99|                             9.74|                                 10.65|                             9.84|                                   9.34| 2018-02-01|
|   Leicester|2018-03|         264|                                8.43|                             8.08|                                  8.98|                             8.56|                                   7.22| 2018-03-01|
|   Leicester|2018-04|         268|                                6.71|                             6.58|                                  7.42|                             7.08|                                    4.4| 2018-04-01|
|   Leicester|2018-05|         295|                                6.91|                             6.91|                                  7.51|                             7.54|                                   3.97| 2018-05-01|
|   Leicester|2018-06|         289|                                8.89|                             9.47|                                  9.82|                              9.3|                                   5.52| 2018-06-01|
|   Leicester|2018-07|         300|                                7.27|                              8.2|                                  8.05|                             7.52|                                   4.41| 2018-07-01|
|   Leicester|2018-08|         316|                                5.96|                             6.91|                                   6.8|                             6.07|                                   3.44| 2018-08-01|
|   Leicester|2018-09|         281|                                5.42|                             6.23|                                  6.07|                             5.58|                                   3.19| 2018-09-01|
|   Leicester|2018-10|         332|                                6.54|                             6.99|                                  7.11|                             6.82|                                   4.31| 2018-10-01|
|   Leicester|2018-11|         349|                                6.94|                             7.43|                                  7.45|                             7.22|                                   4.74| 2018-11-01|
|   Leicester|2018-12|         264|                                7.26|                             7.77|                                  7.68|                              7.4|                                   5.54| 2018-12-01|

In [43]:

# Data-Pre-processing is done and we have 2 dataframes:    

# 1) data_average_price_3     2) data_percentage_change_3

# which contain data for analysis

# Exploratory Data Analysis & Visualization

In [44]:

# Data for analysis :

                    #  1) data_average_price_3     2) data_percentage_change_3

In [45]:

# Registering average house price data and percentage change house price data into tables to run sql queries for analysis.
    

# Average house price data

data_average_price_3.registerTempTable("Average_price_table")

# Percentage change house price data

data_percentage_change_3.registerTempTable("percentage_change_table")

In [46]:

# Importing pixiedust library for visualization


import pixiedust

Pixiedust database opened successfully

## Time-Series Analysis On House Sales during 2017, 2018, 2019 (Pre-lockdown)

In [47]:

    # Creating dataframe with sales data using sql quiries

    # Data Table used  = Average_price_table



Sales = sqlContext.sql('select City,substring(Period,1,4) as Year, Time_Period as Period,\
                        Sales_volume from Average_price_table' )

### Exploring Trend In House Sales In 2017 (Pre-lockdown)

In [48]:

# Visualizing trend in sales during 2017

display(Sales)

In [49]:
display(Sales)

### Exploring Trend In House Sales In 2018 (Pre-lockdown)

In [50]:

# Visualizing trend in sales during 2018.

display(Sales)

### Exploring Trend In House Sales In 2019 (Pre-lockdown)

In [51]:

# Visualizing trend in sales during 2019.

display(Sales)

## Time-Series Analysis On House Sales 2020 (Lockdown Period)

In [52]:

# Visualizing trend in sales during 2020. 

display(Sales)

In [53]:
# we have seen that the sales had a sharp decrease at the start of the lockdown during march-april but 
# have gone up after march why this was the case?

# what was the price pattern during these months?
        # did prices decrease ? after march ? what was the price percentage change during the first 2 months of the lockdown

In [54]:


# so as per above discussion plotting the percentage change in prices during the 2019 and 2020 and looking into those months 

# seeing what hapened in percentage that first 2 months sales gone way too low and increased gradually.

##  House Price Analysis During 2019 & 2020

In [55]:

# Creating dataframe with Percentage Change In House Price data using sql quiries

# Data Table used  = percentage_change_table


Percentage_Change = sqlContext.sql('select City as City, substring(Period,1,4) as Year, Time_Period as Period,\
Percentage_change_All_property_types as Percentage_change from percentage_change_table')

In [56]:

# Visualizing Trend in prices

display(Percentage_Change)

In [57]:
# Visualizing Trend in prices during start of lockdown in 2020.

display(Percentage_Change)

In [58]:

# we find that at the start of the lock down the price of the houses were too high therefore low sales and 
# gradually the prices went low which made the sales to go up


# now we want to see the individual house type prices

## Analysis on Individual house Type Price

In [59]:

# Creating dataframe with house prices according to the type using sql quiries

# Data Table used  = Average_price_table



Individual_House_Type = sqlContext.sql('select City as City, substring(Period,1,4) as Year, Time_Period as Period, Average_price_Detached_houses as Detached_houses, Average_price_Semi_detached_houses as Semi_detached, Average_price_Terraced_houses as Terraced_houses, Average_price_Flats_and_maisonettes as Flats_and_maisonettes from Average_price_table')

In [60]:
display(Individual_House_Type)

## Time-Series Analysis On House Sales Overall (2017 - 2022)

In [61]:

# Visualizing overall trend in sales from 2017-2021 

# Pre-lockdown, Lockdown and Post-Lockdown


display(Sales)

In [62]:

# Visualizing overall Trend in prices from 2017-2021.

display(Percentage_Change)

In [ ]:


# From above graph it is evident that in both the cities 2021 was the year where the sales noticed an unusual\

# hike than any other years.